<html>
  <body>
    <form action="/todos/edit/<% index %>" method="post">
      <input type="text" name="todoItem" id="todo-item" value="<%= todo %>" />
      <button type="submit" id="add-todo-btn">update</button>
    </form>
  </body>
</html>
